<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza</title>

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments/fragments :: import-css}"></th:block>
  </head>
  <body>
    <div class="container">
      <h1>Pizza</h1>

      <!-- Table -->
      <table
        class="table table-striped table-hover"
        th:if="${pizze.size() > 0}"
      >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Immagine</th>
            <th scope="col">Prezzo</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pizza : ${pizze}" th:object="${pizza}">
            <th scope="row">[[*{id}]]</th>
            <td>[[*{nome}]]</td>
            <td>[[*{descrizione}]]</td>
            <td>[[*{urlImmagine}]]</td>
            <td>[[*{prezzo}]]</td>
          </tr>
        </tbody>
      </table>

      <div th:unless="${pizze.size() > 0}">
        <h2>Non ci sono pizze disponibili</h2>
      </div>
    </div>
  </body>
</html>
